*{
    margin:0;
    padding:0;
}

header{
    background-color: black;
    margin-top:0
}

#nav-items{
    display: flex;
    gap:2em;
    padding:2em;
}

.nav-item{
    list-style: none;
    color:white;
}
#menu-icon{
    display:none;
    color:white;
}
.nav-item:hover{
    text-decoration: underline;
    cursor: pointer;
}

.container{
    padding:10px;
    display:flex;
    width:70%;
    margin:auto;
    margin-top:20px;
}

#main-content{
    padding:0px 15px 0px 15px;
    
}

h1{
    font-size:1.4em;
    margin-bottom:12px;
}

h2{
    font-size:1.2em;
    margin-bottom:12px;
}

h3{
    font-size:1.1em;
    margin-bottom:12px;
}

main p{
    margin-bottom:20px;
    text-align: justify;
}

article{
    border-left:1px solid black;
    padding: 5px 10px 10px 10px;
    background-color:rgb(246, 246, 246)
}

@media (max-width:700px){
    .container{
        padding:10px;
        display:flex;
        flex-direction:column;
        width:fit-content;

    }
    .nav-item{
        display:none
    }
    #menu-icon{
        display:block
    }
    p{
        font-size:0.9em
    }
}

footer{
    margin-top:5px;
    background-color:black
}

footer p{
    text-align:center;
    font-size:0.9em;
    color:white;
    padding:10px
    
}

footer p a{
    color:white;
}