
body{
    display:flex;

}

table{
    width:90%;
    border-collapse: collapse;
    margin: auto;
    
}

.cell{
    border: 2px solid black;
    padding:10px;
}

.row:nth-child(even){
    background-color:rgb(205, 205, 205);
}

#form{
    width:400px;
    padding:1em;
    margin:auto;
    background-color:rgba(137, 137, 137, 0.095);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow:4px 4px 0px ;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#form-head{
    text-align:center
}

.form-item{
    width:100%;
    display:flex;
    padding: 10px;
    align-items:space-around;
    justify-content:space-around
}

.input-label{
    display: block;
    width:100px;
    padding:10px;
    font-weight:bold

}

.input{
    justify-self: right;
    padding:10px;
    border-radius: 5px;
}

.radio-group {
  display: flex;
  gap: 20px;
  padding:10px
}

input[type="radio"] {
  accent-color: #ff6b6b;
  cursor: pointer;
}

#submit-btn{
    border-radius: 5px;
    padding: 10px;
    width:25em;
    margin-top:10px;
    background-color:rgb(0, 204, 255);
    font-weight:bold;
    cursor:pointer;
}

#submit-btn:hover{
    box-shadow: 1px 4px 8px rgb(0, 221, 255);
}

hr{
    background-color:rgb(0, 0, 0);
    width: 100%;
    height: 1px;
    box-shadow: 1px 2px 5px;
}

.div {
    width:50%;
    margin-top:20px;
}