*{
    margin:0;
    padding:0;
}

#navbar{
    display:flex;
    justify-content: center;
    background-color: black;
}

#nav-items{
    display: flex;
    gap:2em;
    padding:2em;
    border: 2px solid white;
    margin: 8px 0px 8px 0px;
}

.nav-item{
    list-style: none;
    color:white;
}

.nav-item:hover{
    text-decoration: underline;
    cursor: pointer;
}